@import "../styles/styles";

$footerHeight: 75px;
$headerHeight: 125px;
$bodyHeight: calc(100vh - #{$headerHeight} - #{$footerHeight});

#appBody {
  min-height: $bodyHeight;
  padding: 2*$spacing $spacing;

  position: relative;
  z-index: 20;
  @include simpleShadowBot();
}
