<div id="sandboxView">
  <div class="header">Sandbox</div>
  <div class="subHeader">experiments and stuff</div>

  <md-card class="mat-elevation-z5 vSpaced">
    <div class="subHeader">angular material!</div>

    <div class="vSpaced">
      <md-checkbox>checkbox</md-checkbox>
    </div>

    <div class="vSpaced">
      <md-input-container>
        <input mdInput placeholder="input label">
      </md-input-container>
    </div>

    <div class="vSpaced">
      <button md-button>flat button</button>
    </div>

    <div class="vSpaced">
      <button md-raised-button color="primary">PRIMARY RAISED</button>
    </div>

    <div class="vSpaced">
      <button md-raised-button color="accent">ACCENT RAISED</button>
    </div>
  </md-card>

  <md-card class="mat-elevation-z5 vSpaced">
    <div class="subHeader">flexbox-grid</div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="box">cell 1</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="box">cell 2</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="box">cell 2</div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="box">cell 3</div>
      </div>
    </div>

    <div class="row middle-xs">
      <div class="col-xs-6 col-md-4">
        <div class="box">middle</div>
      </div>
      <div class="col-xs-6 col-md-8">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="box">nested 1</div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="box">nested 2</div>
          </div>
        </div>
      </div>
    </div>


  </md-card>

</div>
