//noinspection CssUnknownTarget
@import '~app/styles/styles';

$tileHeight: 200px;

#petitionTileComponent {
  padding: $spacing;
  text-align: center;
  height: $tileHeight;
  background: $colorThemeSecondary;
  color: $colorThemeAccent;
  cursor: pointer;
  opacity: 0.88;
  transition: all 300ms ease-in-out;
  @include shadow(2px);
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
    @include shadow(4px);
    z-index: 1;
  }
  &:hover {
    opacity: 1;
    transform: scale(1.075);
    position: relative;
    z-index: 2;
    &:after {
      opacity: 1;
    }
    .title {
      font-size: $fontSizeHeader;
    }
  }

  .title {
    color: $colorThemePrimary;
    font-size: $fontSizeSubHeader;
    line-height: $fontSizeHeader;
    transition: font-size 300ms ease-in-out;
  }

  .date {
    margin-top: $spacing/2;
  }

  .tags {
    margin-top: 4*$spacing;
  }

  .signs {
    position: absolute;
    bottom: $spacing;
    left: 0;
    width: 100%;
  }

}
