//noinspection CssUnknownTarget
@import '~app/styles/styles';

#newPetitionView {
  padding-bottom: $spacing;

  .head {
    text-align: center;
    @include fontStyle(light);
    color: $colorThemePrimary;
    background: $colorThemeSecondary;
    padding: 2*$spacing;
    margin-bottom: 2*$spacing;
  }

  .inputContainer {
    margin: $spacing auto;
    width: 90%;
    text-align: center;
    md-input-container {
      width: 100%;
    }
  }

  .hint {
    color: $colorThemeAccent;
    a {
      color: inherit;
      &:hover {
        color: $colorThemePrimary;
      }
    }
  }

  .textTabsContainer {
    margin: 2*$spacing;
    margin-top: 3*$spacing;
    @include shadow(2px, rgba(black, 0.25));
    .mdEditor {
      padding: $spacing;
      md-input-container {
        width: 100%;
        overflow: hidden;
      }
      textarea {
        min-height: 300px;
        padding: $spacing;
      }
    }
    .mdView {
      margin: $spacing;
      padding: $spacing;
      min-height: 300px;
    }
  }

  .checkBoxContainer {
    width: 100%;
    text-align: center;
    min-height: 43px;
    margin-bottom: $spacing;
  }

  #submitButton {
    margin: 2*$spacing auto;
    text-align: center;
    button {
      width: 50%;
      padding: $spacing;
      font-size: $fontSizeSubHeader;
      transition: color 200ms ease;
      &:hover {
        color: $colorThemeSecondary;
      }
    }
  }

}
