//noinspection CssUnknownTarget
@import '~app/styles/styles';

#newPetitionView {
  padding: $spacing;

  #mdView {
    margin: $spacing;
    padding: $spacing;
    border: 1px solid $colorThemeAccent;
  }

  #submitButton {
    margin: 2*$spacing auto;
    text-align: center;
    button {
      width: 50%;
      padding: $spacing;
      font-size: $fontSizeSubHeader;
      transition: color 200ms ease;
      &:hover {
        color: $colorThemeSecondary;
      }
    }
  }

  .inputContainer {
    margin: $spacing auto;
    width: 90%;
    text-align: center;

    md-input-container {
      width: 100%;
    }
  }

  .mdEditor {
    padding: $spacing;
    @include shadow(2px, rgba(black, 0.25));
    textarea {
      min-height: 150px;
    }
  }

}
