<div id="headerView">

  <div class="hAlign">
    <div id="contentContainer" class="row middle-xs start-xs">
      <div class="col-xs-6">
        <a class="bold" routerLink="/">MyPetition</a>
      </div>
      <div class="col-xs-6 hRight">


        <div *ngIf="(fetchingUserState)">
          <span class="subHeader">Loading...</span>
        </div>
        <div *ngIf="(!fetchingUserState)">
          <div *ngIf="!isLoggedIn">
            <button md-raised-button color="fb" (click)="onLogin()">
              Continue with Facebook!
            </button>
          </div>
          <div *ngIf="(isLoggedIn)">
            <span *ngIf="(userName)" class="subHeader">{{userName}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
