<div id="headerView">

  <div class="hAlign">
    <div id="contentContainer" class="row middle-xs start-xs">
      <div class="col-xs-6">
        <a class="title light" routerLink="/">MyPetition</a>
      </div>
      <div class="col-xs-6 hRight">

        <div *ngIf="(!fetchingUserState)">
          <div *ngIf="!isLoggedIn">
            <button md-raised-button color="fb" (click)="login()">
              Continue with Facebook!
            </button>
          </div>
          <div *ngIf="(isLoggedIn)">
            <span *ngIf="(userName)" class="subHeader">{{userName}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-loader id="loader" [loading]="fetchingUserState" color="accent" [scale]="0.5"></app-loader>

</div>
