<div id="petitionDetailsView">
  <div *ngIf="petition">

    <div class="head">
      <div class="hAlign">

        <div class="header">{{petition.title}}</div>
        <div class="row info">
          <div class="col-xs-12 col-md-3 label">Description</div>
          <div class="col-xs-12 col-md-9 value">{{petition.description}}</div>
        </div>
        <div class="row info">
          <div class="col-xs-12 col-md-3 label">Author:</div>
          <div class="col-xs-12 col-md-9 value">{{petition.owner.name}}</div>
        </div>
        <div class="row info">
          <div class="col-xs-12 col-md-3 label">Addressed to:</div>
          <div class="col-xs-12 col-md-9 value">{{petition.addressee}}</div>
        </div>
        <div class="row info">
          <div class="col-xs-12 col-md-3 label">Created on:</div>
          <div class="col-xs-12 col-md-9 value">{{petition.creationDate | date:'y-MM-d'}}</div>
        </div>
        <div class="row info">
          <div class="col-xs-12 col-md-3 label">Tags:</div>
          <div class="col-xs-12 col-md-9 value">{{petition.getFormattedTags()}}</div>
        </div>
        <div class="row info">
          <div class="col-xs-12 col-md-3 label">Signs:</div>
          <div class="col-xs-12 col-md-9 value">{{petition.signCount}}</div>
        </div>

        <div class="row actions center-xs middle-xs">
          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="action">
              <button md-raised-button
                      color="primary"
                      (click)="onSign()"
                      [disabled]="isSigned()">
                Sign
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="action">
              <button md-raised-button color="primary" >Share</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2">
            <div class="action">
              <button md-raised-button color="accent">Show signs</button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-2" *ngIf="isOwned()">
            <div class="action">
              <button md-raised-button color="warn">Close petition</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="hAlign content markdown">
      <div [innerHtml]="getParsedText()"></div>
    </div>

  </div>

  <app-loader [loading]="fetching" [scale]="2" [type]="2"></app-loader>

</div>
