//noinspection CssUnknownTarget
@import '~app/styles/styles';

#petitionDetailsView {

  .head {
    width: 100%;
    padding: $spacing;
    background: $colorThemeSecondary;
    color: $colorThemePrimary;
    border-bottom: 3px solid lighten($colorThemeSecondary, 20);
  }

  .header {
    @include fontStyle(light);
  }

  .subHeader {
    font-size: 19px;
  }

  .info {
    margin: $spacing -8px;
    @include fontStyle(light);
    .label {
      color: $colorThemeAccent;
    }
    .value {
      font-size: 110%;
    }
  }

  .content {
    padding: $spacing;
  }

}
