//noinspection CssUnknownTarget
@import '~app/styles/styles';

$footerHeight: 75px;
$headerHeight: 100px;
$bodyHeight: calc(100vh - #{$headerHeight} - #{$footerHeight});

#appBody {
  min-height: $bodyHeight;

  position: relative;
  z-index: 20;
  @include simpleShadowBot();
}
