@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* variables */
$spacing: 10px;
$contentWidth: 1200px;

$fontSize: 16px;

$fontSizeSubHeader: 22px;
$fontSizeHeader: 30px;

$colorThemePrimary: #7986CB; // indigo 300
$colorThemeAccent: #4DB6AC; // teal 300
$colorThemeSecondary: #37474F; // blue-grey 800
$colorFontSecondary: #1f1f1f;
$colorFB: #3b5998;
$colorWarn: #f44336;

/* mixins */

@mixin simpleShadowBot {
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.7);
}

@mixin shadow($size, $color: #292929) {
  box-shadow: $size $size $size*3 0 $color, -1*$size -1*$size $size*3 0 $color, -1*$size $size $size*3 0 $color, $size -1*$size $size*3 0 $color;
}

@mixin fontStyle($style) {
  @if $style == light {
    font-weight: 300;
  }
  @if $style == regular {
    font-weight: 400;
  }
  @if $style == bold {
    font-weight: 700;
  }
}

/* styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $fontSize;
}

.hAlign {
  max-width: $contentWidth;
  margin: 0 auto;
}

.hLeft {
  text-align: left;
}

.hCenter {
  text-align: center;
}

.hRight {
  text-align: right;
}

.bold {
  @include fontStyle(bold);
}

.light {
  @include fontStyle(light);
}

.header {
  font-size: $fontSizeHeader;
  padding-bottom: $spacing;
}

.subHeader {
  font-size: $fontSizeSubHeader;
  padding-bottom: $spacing;
}

.vSpaced {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

/* overrides */

.col {
  padding: $spacing;
}

.mat-card {
  padding: $spacing !important;
}

@mixin improvedPrimaryButton($color) {
  color: darken($colorThemeSecondary, 10);
  transition: all 350ms ease;
  &:hover {
    color: $color;
    background: darken($colorThemeSecondary, 10);
  }
}

button {
  &.mat-primary {
    @include improvedPrimaryButton($colorThemePrimary);
  }
  &.mat-accent {
    @include improvedPrimaryButton($colorThemeAccent);
  }
  &.mat-warn {
    @include improvedPrimaryButton($colorWarn);
  }
  &[disabled] {
    background: rgba(black, 0.12) !important;
    color: rgba(black, 0.6) !important;
  }
}

.mat-fb {
  background-color: $colorFB;
  color: white;
}

/* ngMaterial snackBar */

.snack-message {
  .mat-simple-snackbar {
    color: black;
    font-size: 19px;
  }
}

.snack-success {
  @extend .snack-message;
  background: (rgba(#5eeb4e, 0.8)) !important;
}

.snack-info {
  @extend .snack-message;
  background: (rgba(#7b88ff, 0.8)) !important;
}

.snack-error {
  @extend .snack-message;
  background: $colorWarn !important;
}

.snack-no-action {
  min-width: 100px !important;
  button {
    display: none;
  }
}

/* tab-group */
.halfTabs {
  .mat-tab-label {
    width: 50% !important;
  }
}

/* dialog */
.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
  .mat-dialog-content {
    padding: 0;
    margin: 0;
  }
}


