<div id="petitionsView">

  <div class="hAlign">

    <div id="tilesContainer" class="row">
      <div *ngFor="let petition of petitions"
           class="col col-xs-12 col-sm-6 col-md-4">
        <app-petition-tile [petition]="petition"
                           [routerLink]="['/petitions', petition.id]">
        </app-petition-tile>
      </div>
    </div>

  </div>

  <div id="addButtonContainer" *ngIf="!fetching">
    <button md-fab color="primary" routerLink="/new-petition">
      <md-icon>add</md-icon>
    </button>
  </div>

  <app-loader [loading]="fetching" [scale]="2"></app-loader>

</div>
