//noinspection CssUnknownTarget
@import '~app/styles/styles';

#petitionsView {
  padding: 2*$spacing;

  #tilesContainer {

  }

  #addButtonContainer {
    z-index: 10;
    position: sticky;
    bottom: 25px;
    right: 25px;
    float: right;
    margin-top: -56px;
    transform: scale(1.2);
    transition: transform 300ms ease;
    button {
      background: lighten($colorThemePrimary, 10);
      color: darken($colorThemeSecondary, 10);
      transition: color 300ms ease;
    }
    &:hover {
      transform: scale(1.5);
      button {
        color: white;
      }
    }
  }


}

